* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: #d0eaff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  width: 90%;
  max-width: 750px;
  display: flex;
}
.gallery {
  flex-basis: 47%;
  background: #241e20;
  transform: scale(1.08);
  box-shadow: -10px 5px 10px 10px rgbs(0, 0, 0, 0.1);
  position: relative;
}
.gallery img {
  width: 100%;
  display: block;
  padding-top: 100px;
}

.details {
  font-size: 16px;
  font-weight: 500px;
  flex-basis: 52%;
  background: white;
  padding: 40px;
  padding-left: 60px;
  box-shadow: -10px 5px 10px 10px rgbs(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #c3c3c3;
}

h1 {
  color: #333;
  font-size: 36px;
}
h2 {
  color: #555;
  font-size: 30;
  font-weight: 600;
}
h3 {
  color: rgb(161, 25, 36);
  margin-bottom: 20px;
  font-size: 16px;
}
.details form {
  font-size: 16px;
  font-weight: 400;
}

.size-select {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.size-select p {
  width: 72px;
}

.size-select input:checked + span {
  color: blue;
  font-weight: 600;
}

.size-select input {
  display: none;
}
.size-select span {
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.color-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.color-select p {
  width: 80px;
}

.color-select span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}

.color-1 {
  background: red;
}

.color-2 {
  background: green;
}
.color-3 {
  background: blue;
}
.color-4 {
  background: pink;
}
.color-select input {
  display: none;
}
.color-select input:checked + span {
  transform: scale(0.7);
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}
.quantity-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.quantity-select p {
  width: 80px;
}

.quantity-select input {
  background: #eee;
  border: 0;
  outline: 0;
  padding: 4px 4px 4px 15px;
  width: 60px;
  border-radius: 12px;
}

form button {
  background: #553ff0;
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  outline: o;
  margin-top: 50px;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
  cursor: pointer;
}

.controls {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.btn {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  cursor: pointer;
}
.btn.default {
  background: blue;
  outline: none;
  border: none;
}
.btn:hover {
  background: blue;
  outline: none;
  border: none;
}
